{% extends "layout.html" %}
{% block content %}
    <h1>FROGS</h1>
    <h2>Home is where the pond is</h2>
    <form action="">
        <input type="text" placeholder="enter some frog names">
        <input type="submit">
    </form>
    <img id='frog' src="https://thumbs.dreamstime.com/b/frog-flat-color-icon-animal-vector-illustration-isolated-176774318.jpg" alt="froggo">
    <div>
        {% for frog in froggies %}
            <h3>{{ frog.name }} is a {{ frog.type }}</h3>
        {% endfor %}
    </div>
{% endblock content %}
