<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="https://image.pngaaa.com/91/4448091-middle.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- if statement for title -->
    {% if title %}
        <title>Frogs - {{title}}</title>
    {% else %}
        <title>Frog Home</title>
    {% endif %} 
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('contact') }}">contact</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
